@inherits LayoutComponentBase

<PageTitle>MovieDb.WebApp</PageTitle>

<div class="page">
    <main>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <article class="content px-4">
                    @Body
                </article>
            </div>
            <div class="col-3"></div>
        </div>
    </main>
</div>

<Preload />